<h1>Editar Disciplina</h1>

<form method="POST" action="/academico/gerenciar/disciplinas/editar/<%= disciplina.id %>">

    <label>Nome:</label><br>
    <input type="text" name="nome" value="<%= disciplina.nome %>" required>
    <br><br>

    <label>Turma:</label><br>
    <select name="turma_id" required>
        <% turmas.forEach(t => { %>
            <option value="<%= t.id %>"
                <%= disciplina.turma_id == t.id ? 'selected' : '' %>>
                <%= t.curso %> - <%= t.nome %>
            </option>
        <% }) %>
    </select>
    <br><br>

    <label>Professor:</label><br>
    <select name="professor_id" required>
        <% professores.forEach(p => { %>
            <option value="<%= p.id %>"
                <%= disciplina.professor_id == p.id ? 'selected' : '' %>>
                <%= p.nome %>
            </option>
        <% }) %>
    </select>
    <br><br>

    <button type="submit">Salvar</button>
</form>

<br>
<a href="/academico/gerenciar/disciplinas">Voltar</a>